<div class="panel panel-primary">
    <div class="panel-heading">
       {{title}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Filter By:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="filterText" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtered By:{{filterText}}</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf="products && products.length">
                <thead>
                    <tr>
                        <button class="btn btn-success" (click)="toggleImage()">
                           {{showImage ? "Hide Image":"Show Image"}}
                        </button>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>Star Rating</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products| productFilter:filterText">
                        <td><img [src]="product.imageUrl" *ngIf="showImage"
                            [style.width.px]="imageWidth"/></td>
                        <td><a [routerLink]="['/products',product.productId]"
                            [queryParams]="{name:product.productName,desc:product.description,img:product.imageUrl}">
                            {{product.productName|uppercase}}</a></td>
                        <td>{{product.productCode|lowercase}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price|currency:'USD':true}}</td>
                        <td>{{product.starRating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>